<app-dance-menue></app-dance-menue>

<div class="flex justify-center items-center h-screen  inset-0 w-screen">
    <div class="flex-col">
        <div>
            <mat-form-field appearance="outline">
                <input class="mt-8 h-8" matInput placeholder="E-mail">
            </mat-form-field>
        </div>

        <div class="divide-y divide-dashed">
            <div class="flex flex-row justify-end items-center mt-1">
                <div routerLink="/login" routerLinkActive="router-link-active" class="menu-item button cursor-pointer">Reset password</div>
            </div>

        </div>
    </div>
</div>