<div routerLink="/course" routerLinkActive="router-link-active" class="flex flex-row mt-4 cursor-pointer justify-center">

    <div class="mr-20">
        <div class="">
            <img class="rounded-full" src="https://github.com/DanielRolfs/media/blob/main/weloveforro/img/dumont-profile.png?raw=true">
        </div>
    </div>

    <div class="flex items-center">
        <div>
            <h2>Lukas Dumont</h2>
            <div class="flex flex-row mt-8">
                <div class="w-1/2">
                    <div class="flex flex-row">
                        <div class="green">Style:</div>
                        <div class="ml-2">Universitario</div>
                    </div>
                    <div class="flex flex-row">
                        <div class="green">Language:</div>
                        <div class="ml-2">English, Protugues</div>
                    </div>
                    <div class="flex flex-row">
                        <div class="green">Organisationn:</div>
                        <div class="ml-2">Pé descalco</div>
                    </div>
                    <div class="flex flex-row">
                        <div class="green">City:</div>
                        <div class="ml-2">Belo Horizonte, Brasil</div>
                    </div>
                </div>
                <div class="w-1/2">
                    <div class="flex flex-row">
                        <div class="green">Movements:</div>
                        <div class="ml-2">534</div>
                    </div>
                    <div class="flex flex-row">
                        <div class="green">Focus:</div>
                        <div class="ml-2">60% Movments, 40% Technique</div>
                    </div>
                    <div class="flex flex-row">
                        <div class="green">Levels: </div>
                        <div class="ml-2">Transparent, White, Blue, Blue advanced, Black, Black advanced, Red</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>