<div class="flex justify-center">
    <div class="menu-bar flex flex-row justify-between w-11/12 absolute top-9">
        <div><img class="max-logo-size" src="assets/img/logo.png"></div>
        <div class="flex flex-row space-x-3">
            <!-- <div class="menu-item cursor-pointer">More Dances</div> -->
            <div routerLink="/teacher-list" routerLinkActive="router-link-active" class="menu-item cursor-pointer">
                Teacher List</div>
            <div routerLink="/login" routerLinkActive="router-link-active" class="menu-item button cursor-pointer">Log
                in</div>
        </div>
    </div>
</div>