<h1 mat-dialog-title class="text-center">Add Movement</h1>
<div mat-dialog-content class="flex">

    <div class="flex flex-row">
        <div class="mr-8">
            <mat-form-field appearance="outline">
                <mat-label>Movement Name</mat-label>
                <input matInput placeholder="Simple Turn">
            </mat-form-field>
        </div>
    </div>

    <div class="flex flex-row">
        <div class="mr-8">
            <mat-form-field appearance="outline">
                <mat-label>Preview Video Youtube link</mat-label>
                <input matInput placeholder="https://www.youtube.com/embed/QdkAlYXQJs0">
            </mat-form-field>
        </div>

        <div>
            <mat-form-field appearance="outline">
                <mat-label>Explanation Video Youtube link</mat-label>
                <input  matInput placeholder="https://www.youtube.com/embed/QdkAlYXQJs0">
            </mat-form-field>
        </div>

    </div>

</div>
<div mat-dialog-actions>
    <button mat-button>Cancel</button>
    <button mat-button cdkFocusInitial>Save</button>
</div>