/**
* @file landing page for forro dance
* test
*/

<div class="h-screen">

    <div class="menu-bar flex flex-row place-content-between">
        <img class="m-8" src="assets/img/logo.png">
        <ul class="flex flex-row space-x-3">
            <li>More Dances</li>
            <li>
                <button>Log in</button>
            </li>
        </ul>
    </div>

    <div class="header flex flex-row -mt-20">
        <div class="headline flex flex-col items-center justify-center w-1/2">
            <div>
                <h1>Witch movement do you know already?</h1>
            </div>
            <div>
                <h3>Select a teacher</h3>
            </div>
            <div>
                <mat-icon>keyboard_arrow_down</mat-icon>
            </div>

        </div>
        <div class="w-1/2">
            <img src="assets/img/dumont.png">
        </div>
    </div>

</div>