/* For use in src/lib/core/theming/_palette.scss */
$custom-primary: (
    50 : #e0f8e0,
    100 : #b3eeb3,
    200 : #80e280,
    300 : #4dd64d,
    400 : #26ce26,
    500 : #00c500,
    600 : #00bf00,
    700 : #00b800,
    800 : #00b000,
    900 : #00a300,
    A100 : #ceffce,
    A200 : #9bff9b,
    A400 : #68ff68,
    A700 : #4eff4e,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

/* For use in src/lib/core/theming/_palette.scss */
$custom-accent: (
    50 : #e0efe0,
    100 : #b3d7b3,
    200 : #80bc80,
    300 : #4da14d,
    400 : #268c26,
    500 : #007800,
    600 : #007000,
    700 : #006500,
    800 : #005b00,
    900 : #004800,
    A100 : #7cff7c,
    A200 : #49ff49,
    A400 : #16ff16,
    A700 : #00fc00,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

